body {
    background-color: rgb(181, 172, 189);
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 16px;
}

img {
    width: 266.5px; 
    height: 400px;
}


h3 {
    color: blueviolet ; 
    background-color: rgba(255, 255 ,255, 0.4);
}

ul {
    background-color: cadetblue;
    padding: 20px;
    border: 3px solid rgb(255, 255, 255);
}

ol {
    background-color: aquamarine;
    margin: 50px;
    padding: 30px;
    border: 5px solid cadetblue;
    border-radius: 5px;
}

.zvuk-mp3 {
    color: blue;
}

a:hover {
    background-color: rgb(196, 196, 203);
}

